<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hana.app.repository.AddrRepository">

    <select id="selectOne" parameterType="Integer" resultType="addrDto">
        SELECT * FROM db_addr WHERE addr_id=#{k}
    </select>
    <select id="select" resultType="addrDto">
        SELECT * FROM db_addr
    </select>
    <insert id="insert" parameterType="addrDto">
        INSERT INTO db_addr VALUES (#{addrId},#{addrName},#{addrDetail},#{custId})
    </insert>
    <update id="update" parameterType="addrDto">
        UPDATE db_addr SET addr_id=#{addrId},addr_name=#{addrName}, addr_detail=#{addrDetail}, cust_id=#{custId} WHERE cust_id=#{custId}
    </update>
    <delete id="delete" parameterType="String">
        DELETE FROM db_addr WHERE cust_id=#{custId}
    </delete>
    <select id="findByCustId" parameterType="String" resultType="com.hana.app.data.dto.AddrDto">
        SELECT * FROM db_addr WHERE cust_id=#{custId}
    </select>

</mapper>